[Desktop Entry]
Name=MOL
Type=Application
Comment=Mac On Linux
Exec=startmol --forcemolrc
Icon=mol
Terminal=false
Categories=Utility;Emulator;
# vi: encoding=utf-8
